.center {
    display: flex;
    justify-content: center;
  }
  .lado {
    display: flex;
    justify-content: right;
  }
  table {
    width: 80%;
  }
  .add{
      color: #00c853;
      font-size: 18px;
  }